@import "tailwindcss";

@theme {
  --color-background: #0d1117;
  --color-surface: #161b22;
  --color-border: #30363d;
  --color-primary: #58a6ff;
  --color-success: #238636;
  --color-warning: #d29922;
  --color-danger: #f85149;
  
  --color-text-primary: #c9d1d9;
  --color-text-secondary: #8b949e;
}

@layer base {
  :root {
    --background: #0d1117;
    --foreground: #c9d1d9;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for classic feel */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #0d1117;
}
::-webkit-scrollbar-thumb {
  background: #30363d;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #484f58;
}
